.skills {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--primary-white-color);
  text-align: left;

  @include desktop {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.skills__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  .title {
    margin-top: 0;
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-align: center;
    text-transform: uppercase;
    color: var(--title-text-color);
    @include tablet {
      text-align: left;
    }
  }
}

.skills__item {
  width: 100%;
  &::before {
    display: block;
    content: '';
    height: 120px;
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    background-color: #f5f4fa;
    border-radius: 4px;
  }
  @include tablet {
    @include calc(2, 30px);
  }
  @include desktop {
    @include calc(4, 30px);
  }
}

.icon-antenna::before {
  background-image: url(../img/antenna.svg);
}

.icon-clock::before {
  background-image: url(../img/clock.svg);
}

.icon-vector::before {
  background-image: url(../img/vector.svg);
}

.icon-astronaut::before {
  background-image: url(../img/astronaut.svg);
}

.skills__text {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
